@font-face {
    font-family: VALORANT;
    src: url('Content/Fonts/Valorant.ttf');
}

body {
    color: white;
    background-color: #101823;
    font-family: VALORANT;
}

.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
    position: sticky;
}

    .navbar a {
        float: left;
        padding: 12px;
        color: white;
        text-decoration: none;
        font-size: 17px;
        width: 33.333333333333%;
        text-align: center;
    }

        .navbar a:hover {
            background-color: #000;
        }

        .navbar a.active {
            background-color: #04AA6D;
        }

@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
        width: 100%;
        text-align: left;
    }
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.icebox {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

#valorantSelect {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -100%);
    text-align: center;
    background-image: url(Content/Images/valorant.png);
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 160px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-family: VALORANT;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke: 1px #AAA;
    padding-top: 50px;
    padding-bottom: 50px;
}

.disc {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.8);
    color: white;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 75%);
    z-index: 2;
    width: 80%;
    padding: 70px;
    text-align: center;
}

.b1c1 {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.8);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: -40%;
    left: 50%;
    transform: translate(-50%, 320%);
    z-index: 2;
    width: 80%;
    padding: 70px;
    text-align: center;
}

.b2c1 {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.8);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, 320%);
    z-index: 2;
    width: 80%;
    padding: 70px;
    text-align: center;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

video {
    object-fit: contain;
}

#agents, #weapons {
    width: 30%;
}

.top p {
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 320%);
    z-index: 2;
    width: 80%;
    padding: 70px;
    text-align: center;
}