@font-face {
    font-family: VALORANT; src: url('Content/Fonts/Valorant.ttf');
}

body {
    height: auto;
    width: auto;
    color: white;
    text-align: center;
    background-color: #101823;
    font-family: VALORANT;
}

#valorantSelect {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    text-align: center;
    background-image: url(Content/Images/valorant.png);
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 160px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-family: VALORANT;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke: 1px #AAA;
    padding-top: 50px;
    padding-bottom: 50px;
}

#agents, #weapons{
    width: 30%;
}

.body1 {
    align-content: center;
}

.b1c1{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 75%);
    z-index: 2;
    width: 80%;
    padding: 70px;
    text-align: center;
}

.b2c1{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 320%);
    z-index: 2;
    width: 80%;
    padding: 70px;
    text-align: center;
}

.body1 h2, .body2 h2 {
    font-size: 45px;
    text-shadow: 2px 2px #FF4D51;
}

.body2 p2 {
    font-weight: bold;
    border-bottom: solid;
    border-color: white;
}

button {
    padding: 15px 15px 15px 15px;
    font-size: 45px;
    border: none;
    background-color: #FF4D51;
}

a {
    color: white;
    text-decoration: none;
    font-family: VALORANT;
}

img {
    width: 25px;
}

footer {
    position: absolute;
    margin-top: 20px;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 1400%);
    padding-bottom: 10px;
}

.icebox {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}