@font-face {
    font-family: VALORANT;
    src: url('Content/Fonts/Valorant.ttf');
}

body {
    color: white;
    background-color: #101823;
    font-family: VALORANT;
    text-align: center;
}

.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
    position: sticky;
}

    .navbar a {
        float: left;
        padding: 12px;
        color: white;
        text-decoration: none;
        font-size: 17px;
        width: 33.333333333333%;
        text-align: center;
    }

        .navbar a:hover {
            background-color: #000;
        }

        .navbar a.active {
            background-color: #04AA6D;
        }

@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
        width: 100%;
        text-align: left;
    }
}


html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

p {
    margin-top: 50px;
    font-size: 25px;
}

a {
    color: white;
}